body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}  

.App {
    height: 100%;
    width: 100%;
}

/* Grid setup */

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Styles all page content outside the navbar */
.AppChild {
    height: 100%;
    margin-left:20%;
    padding: 10px;
}

/* Canvas styles */
canvas {
    border: 1px solid black;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar ul {
list-style-type: none;
margin: 0;
padding: 0;
width: 20%;
background: linear-gradient(to bottom left, #d2fffb, white);
height: 100%; /* Full height */
position: fixed; /* Make it stick, even on scroll */
overflow: auto; /* Enable scrolling if the sidenav has too much content */
box-shadow: 2px 0px aliceblue;
}

.navbar li {
border-bottom: 1px solid azure;
}

.navbar li a{
display: block;
color: b;
padding: 8px 16px;
text-decoration: none;
}

.navbar li .active {
background-color: rgb(151, 255, 255);
color: #fff;
}

.navbar li a:hover:not(.active) {
background-color: azure;
color: rgba(127, 255, 212, 0.5);
}